.vscode
build-*
check*
DemoApp.exe
DemoApp-dbg.exe
DemoApp-dev.exe
DemoApp-asan.exe
DemoApp
DemoLib.dll
DemoLib_.dll
DemoLib.dylib
cmake-build-*
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5
*.blend6
*.blend7
*.blend8
*.blend9
.DS_Store
errors.txt
